.app-header {
  background-color: #005eb8;
  border: 0;
}

.app-header__container {
  border-bottom: 1px solid rgba(govuk-colour("white"), 0.2);
  margin-bottom: 0;
  padding-bottom: govuk-spacing(4);
  padding-top: govuk-spacing(4);
}

.govuk-header__logo {
  margin: 0;
}

.govuk-header__link--homepage {
  display: flex;
  align-items: center;
  gap: govuk-spacing(3);

  &:hover {
    border-color: transparent;

    .govuk-header__product-name {
      text-decoration: underline;
    }
  }
}

.govuk-header__product-name {
  @include govuk-font(19);
  margin: 0;
}

.app-site-search:defined {
  margin: 0;
  padding: 0;
}
