{% from "nhsuk/components/contents-list/macro.njk" import contentsList as nhsukContentsList %}
{% from "nhsuk/components/images/macro.njk" import image as nhsukImage %}

<hr class="nhsuk-section-break nhsuk-section-break--visible nhsuk-section-break--l">

{% set title = params.title or "Screenshots" %}
{% set id = title | slugify %}
<h2 class="nhsuk-heading-l" id="{{ id }}">{{ title }}</h2>

{% set contentsListItems = [] %}
{% for item in params.items %}
  {% set itemTitle = item.text or item %}
  {% set itemId = item.id or (itemTitle | slugify) %}
  {% set contentsListItems = contentsListItems | push({
    href: "#" + itemId,
    text: itemTitle
  }) %}
{% endfor %}

{{ nhsukContentsList({
  items: contentsListItems
}) }}

{% for item in params.items -%}
  {% set itemTitle = item.text or item %}
  {% set itemId = item.id or (itemTitle | slugify) %}
  <h3 class="nhsuk-heading-m" id="{{ itemId }}">{{ itemTitle }}</h3>
  {{ nhsukImage({
    classes: "app-image--screenshot",
    src: item.src or (itemId + ".png"),
    alt: item.alt or ("Screenshot of " + itemTitle),
    caption: item.caption | markdown
  }) }}
{%- endfor %}
