$govuk-colours: (
  "red": #d5281b,
  "yellow": #ffeb3b,
  "green": #007f3b,
  "blue": #005eb8,
  "dark-blue": #002f5c,
  "purple": #330072,
  "black": #212b32,
  "dark-grey": #4c6272,
  "mid-grey": #aeb7bd,
  "light-grey": #f0f4f5,
  "white": #ffffff,
  // Unchanged
  "light-blue": #5694ca,
  "light-purple": #6f72af,
  "bright-purple": #912b88,
  "pink": #d53880,
  "light-pink": #f499be,
  "orange": #f47738,
  "brown": #b58840,
  "light-green": #85994b,
  "turquoise": #28a197,
);

$color_nhsuk-dark-pink: #7c2855;
$color_nhsuk-dark-blue: #002f5c;
$color_nhsuk-grey-5: #f0f4f5;
$color_nhsuk-purple: #330072;

$govuk-body-background-colour: $color_nhsuk-grey-5;
$govuk-canvas-background-colour: $color_nhsuk-grey-5;

$govuk-link-visited-colour: $color_nhsuk-purple;
$govuk-link-hover-colour: $color_nhsuk-dark-pink;
$govuk-link-active-colour: $color_nhsuk-dark-blue;

$govuk-border-width: 4px;
$govuk-border-width-wide: 8px;

$govuk-font-family: system-ui, sans-serif;
